html {
  overflow: hidden;
}

.main {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
}
