.main {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  background-color: #fafafa;
  margin: 0;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.content {
  border: 0;
  display: block;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  width: 100%;
}
