.main {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0;
  -webkit-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.content {
  border: 0;
  display: block;
  height: 100vh;
  position: fixed;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  width: 100%;
}

.content.hide {
  opacity: 0;
}
